<h1>This is the login page</h1>
        
<%= link_to "Main Menu", 'home' %>

<form>
    <label>Username</label>
    <input type="text">
    <label>Password</label>
    <input type="password">
    <button>Login</button>
</form>